attrs==20.3.0
blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cymem==2.0.5
dask==2020.12.0
distributed==2020.12.0
en-core-web-sm==2.3.1
fsspec==0.8.5
HeapDict==1.0.1
idna==2.10
importlib-metadata==3.3.0
iniconfig==1.1.1
joblib==1.0.0
locket==0.2.0
msgpack==1.0.2
murmurhash==1.0.5
nltk==3.5
numpy==1.19.4
packaging==20.8
pandas==1.2.0
partd==1.1.0
plac==1.1.3
pluggy==0.13.1
preshed==3.0.5
protobuf==3.14.0
psutil==5.8.0
py==1.10.0
pycorenlp==0.3.0
pyparsing==2.4.7
Pyphen==0.10.0
pytest==6.2.1
python-datamuse==1.3.0
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
spacy==2.3.5
srsly==1.0.5
stanfordnlp==0.2.0
tblib==1.7.0
textstat==0.7.0
thinc==7.4.5
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
torch==1.7.1
tornado==6.1
tqdm==4.55.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wasabi==0.8.0
zict==2.0.0
zipp==3.4.0
